/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 déc. 2024, 09:20:44
    Author     : audrey.lepinay
*/
        img{
            border: 3px solid rgb(70, 54, 219); margin-left: 30%;
        }
        .img1{
            border: 3px solid rgb(131, 121, 223); margin-left: 0%;
        }
        .img2{
            border: 3px solid blue; margin-left: 0%;
        }
        .img3{
            border: 5px solid rosybrown; margin-left: 0%;
        }
        td {
            border: 2px rgb(227, 250, 241) solid; width: 50%;
        }
        .texte {
            font-family: verdana ; font-size: 110%;
        }
        div{
            text-align: center
        }
        body{
            background: rgb(227, 250, 241); color: black;
        }
        h1{
            color: green;
            font-family: verdana;
            font-size:40px;
            margin-left: 20px;
        }
        p{
            font-family: verdana ; font-size: 100%; margin-left: 4%;
        }
        ul{
            color: red;
        }
        .p1{
            color:rgb(132, 0, 255)
        }
        .p2{
            margin-left: 15%; margin-right: 15%; color:rgb(117, 117, 223)
        }
        .tr1{
            border: 3px black solid; width: 25%; border-collapse: collapse;
        }
        table{
            border: 1px black solid; border-collapse: collapse; margin: auto
        }
        .table1{
            width: 25%;
        }
        th{
            border: 2px black solid; width: 25%; width: 50%; width: 25%; color:blue
        }
        caption{
            color:rgb(44, 44, 121);
        }
