/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 déc. 2024, 09:20:44
    Author     : audrey.lepinay
*/
menu {
            position: absolute;
            top:30px;
            left:5px;
            width: auto
        }
        img{
            border: 3px solid rgb(70, 54, 219); margin-left: 30%;
        }
        td {
            border: 2px rgb(27, 126, 27) solid; width: 0%;
        }
        .texte {
            font-family: verdana ; font-size: 110%; color: black;
        }
        div{
            text-align: center
        }
        body{
            background: rgb(227, 250, 241); color: blue;
        }
        h1{
            color: green;
            font-family: verdana;
            font-size:40px;
            margin-left: 20px;
        }
        p{
            font-family: verdana ; font-size: 100%; color: black; margin-left: 4%;
        }
        table{
            border: 1px rgb(19, 94, 19) solid; border-collapse: collapse; margin: auto ;
        }
        ul{
            color: red;
        }
